
.root{
	-fx-background-color : blue;
	-fx-font-size: url("../Fonts.Caveat.ttf");
}

.button
{
	 -fx-background-color: red ;
	 
	-fx-backgrond-border: 1px, solid, lightpink;
	
	-fx-background-radius: 10px; 
	-fx-padding : 8px;
}